body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: primary;
}
link {
    color: secondary;
}
.textfield {
    border: #424242;
    color: #fff;
}